@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 146, 34);
    text-align: center;
    color: white;
    font-family: 'Poppins';
}

h1 {
    color: goldenrod; 
}

p{
    font-style: italic;
}

button{
    padding: 10px;
    font-size: 20px;
    color: white;
    background: goldenrod;
    width: 15em;
    border: 1px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

